{% extends '../main.twig' %}

{% block main %}
	<section class="description">
		<div class="description__container container">
			<div>
				<h2>Путешествие на край Земли</h2>
				<p>
					Это волшебное путешествие поможет вам познакомиться поближе с удивительным миром Антарктики. Наш круизный лайнер отвезет вас на край Земли, где вы сможете увидеть: ледяные айсберги,несколько видов пингвинов, китов, морских котиков и многое другое.
				</p>
			</div>
			<picture>
				<source type="image/webp" media="(max-width: 320px)" srcset="img/promo-mobile.webp 1x, img/promo-mobile@2x.webp 2x">
				<source type="image/webp" media="(max-width: 1023px)" srcset="img/promo-tablet.webp 1x, img/promo-tablet@2x.webp 2x">
				<source type="image/webp" media="(min-width: 1024px)" srcset="img/promo-desktop.webp, img/promo-desktop@2x.webp 2x">
				<img src="img/promo-desktop.jpg" srcset="img/promo-desktop@2x.jpg 2x" alt="Фотография Пингвины">
			</picture>
		</div>
	</section>
	<section class="advantages" id="advantages">
		<div class="advantages__container container">
			<h2>Преимущества</h2>
			<ul class="advantages__list">
				<li tabindex="20">
					<img src="img/sprite.svg#icon-boat-front" width="44" height="32" alt="Иконка Катер.">
					<h3>Небольшой круизный лайнер</h3>
					<p>Круизный лайнер, рассчитанный всего лишь на&nbsp;300&nbsp;гостей, поможет избежать шума и&nbsp;очередей и&nbsp;даст возможность насладиться видами и&nbsp;природой.</p>
				</li>
				<li>
					<img src="img/sprite.svg#icon-double-arrow" width="44" height="32" alt="Иконка Галочка.">
					<h3>Система все&nbsp;включено</h3>
					<p>Все наши круизы работают по&nbsp;системе &laquo;Все Включено&raquo;. Великолепные блюда и&nbsp;безлимитный бар доступны для вас 24&nbsp;часа.</p>
				</li>
				<li>
					<img src="img/sprite.svg#icon-boat" width="44" height="32" alt="Иконка Катер вид сбоку.">
					<h3>Экскурсионные туры на Zodiac</h3>
					<p>Экскурсионные туры к&nbsp;берегам Антарктиды совершаются на&nbsp;оборудованных лодках типа Zodiack c&nbsp;опытными экскурсоводами.
					</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="offer" id="offer">
		<div class="offer__container container">
			<h2>Ближайшие круизы</h2>
			<ul>
				<li tabindex="0">
					<h3 class="offer__title">Круиз “Астория”</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Фолклендские острова &#x2010; Антарктида</p>
						<h4>Порт отправления</h4>
						<p>Ушуайя</p>
						<h4>Продолжительность</h4>
						<p>11 дней</p>
						<h4>Цена</h4>
						<p>от 11500 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card1.webp" srcset="img/background-card1@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Элайн"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Фолклендские острова &#x2010; Антарктида &#x2010; Чили</p>
						<h4>Порт отправления</h4>
						<p>Буэнос&#x2010;Айрэс</p>
						<h4>Продолжительность</h4>
						<p>20 дней</p>
						<h4>Цена</h4>
						<p>от 14500 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card7.webp" srcset="img/background-card7@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Атлантис"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Южная Георгия и Южные Сандвичевы Острова &#x2010; Антарктида</p>
						<h4>Порт отправления</h4>
						<p>Ушуайя</p>
						<h4>Продолжительность</h4>
						<p>15 дней</p>
						<h4>Цена</h4>
						<p>14500 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card2.webp" srcset="img/background-card2@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Одиссей"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Чили &#x2010; Антарктида</p>
						<h4>Порт отправления</h4>
						<p>Пунта&#x2010;Аренас</p>
						<h4>Продолжительность</h4>
						<p>13 дней</p>
						<h4>Цена</h4>
						<p>от 9700 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card3.webp" srcset="img/background-card3@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Олимпия"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Фолклендские острова &#x2010; Южная Георгия &#x2010; Антарктида</p>
						<h4>Порт отправления</h4>
						<p>Ушуайя</p>
						<h4>Продолжительность</h4>
						<p>21 дней</p>
						<h4>Цена</h4>
						<p>от 18600 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card4.webp" srcset="img/background-card4@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Аврора"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Антарктида &#x2010; Чили</p>
						<h4>Порт отправления</h4>
						<p>Ушуайя</p>
						<h4>Продолжительность</h4>
						<p>14 дней</p>
						<h4>Цена</h4>
						<p>от 11700 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card5.webp" srcset="img/background-card5@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Леонор"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Антарктида &#x2010; Чили</p>
						<h4>Порт отправления</h4>
						<p>Пунта&#x2010;Аренас</p>
						<h4>Продолжительность</h4>
						<p>17 дней</p>
						<h4>Цена</h4>
						<p>от 12500 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card6.webp" srcset="img/background-card6@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
				<li tabindex="0">
					<h3>Круиз "Минион &#x2010; 1"</h3>
					<div class="offer__content">
						<h4>Маршрут</h4>
						<p>Аргентина &#x2010; Антарктида</p>
						<h4>Порт отправления</h4>
						<p>Ушуайя</p>
						<h4>Продолжительность</h4>
						<p>11 дней</p>
						<h4>Цена</h4>
						<p>от 12300 $</p>
						<a href="#">Забронировать</a>
					</div>
					<picture>
						<img class="offer__picture" src="img/background-card7.webp" srcset="img/background-card7@2x.webp 2x" alt="Фотография Пингвины">
					</picture>
				</li>
			</ul>
		</div>
	</section>
	<section class="feedback" id="feedback">
		<div class="feedback__container container">
			<div class="feedback__text">
				<h2 class="feedback__text-title">Раннее бронирование</h2>
				<p class="feedback__text-subtitle">Забронируйте тур за 3-6 месяцев до даты выезда и сэкономьте до 50%</p>
			</div>
			<form class="feedback__form" action="https://echo.htmlacademy.ru" method="post" data-form>
				<p class="feedback__form-description">
					Оставьте заявку и мы свяжемся с вами в ближайшее время
				</p>
				<fieldset>
					<legend class="visually-hidden">Форма обратной связи.</legend>
					<p class="feedback__form-group">
						<label aria-label="Введите ваше имя.">
							<input id="order-name" type="text" placeholder="Имя" name="name" pattern="^[A-Za-zА-Яа-яЁё\- ]+$" required/>
						</label>
						<label aria-label="Введите ваш номер телефона.">
							<input id="order-phone" type="tel" placeholder="Телефон" name="phone" pattern="^(\+)?((\d{2,3}) ?\d|\d)(([ -]?\d)|( ?(\d{2,3}) ?)){5,12}\d$" required/>
						</label>
						<label aria-label="Введите ваш адрес электронной почты.">
							<input id="order-email" type="email" placeholder="Email" name="email" required/>
						</label>
					</p>
				</fieldset>
				<fieldset>
					<legend class="visually-hidden">Согласие на обработку ваших персональных данных</legend>
					<p class="feedback__form-group feedback__form-group--bottom">
						<label>
							<input name="agree" type="checkbox" checked required/>
							<span>Я согласен на обработку моих  персональных данных</span>
						</label>
						<button type="submit">Оставить заявку</button>
					</p>
				</fieldset>
			</form>
		</div>
	</section>
	<section class="contacts" id="contacts">
		<div class="contacts__container container">
			<div class="contacts__map" data-map id="map"></div>
			<div class="contacts__content">
				<h2>
					У вас ещё остались вопросы или сомнения? Приезжайте к нам в офис и мы вам все расскажем.
				</h2>
				<ul>
					<li>
						<address>г. Санкт Петербург, ул. Большая Конюшенная, 19/8</address>
					</li>
					<li>
						<a href="tel:88002000000">8-800-200-00-00</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
