.advantages h2 {
  text-align: center;
  margin: 0 0 49px;
  font-size: 28px;
  font-family: $ff-montserrat;
  line-height: 42px;
  font-weight: 600;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    margin: 0 0 29px;
  }
}

.advantages-container {
  padding: 110px 45px 120px;

  @include vp-1023 {
    padding: 90px 45px 100px;
  }

  @include vp-767 {
    padding: 55px 15px 35px;
  }
}

.advantages {
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include adaptive-bg("advantages-background-desktop");

  @include vp-1023 {
    @include adaptive-bg("advantages-background-tablet");
  }

  @include vp-767 {
    @include adaptive-bg("advantages-background-mobile");
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 40px;
  align-items: flex-start;

  @include vp-1023 {
    align-items: stretch;
    grid-gap: 29px;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__list h3 {
  margin: 0 0 8px;
  padding: 0;
  font-size: 18px;
  font-family: $ff-montserrat;
  line-height: 27px;
  font-weight: 500;
  color: $color-tangaroa;

  @include vp-767 {
    margin: 0 0 7px;
    padding: 0 60px 0 0;
  }
}

.advantages__list p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: $ff-montserrat;
  line-height: 20px;
  color: $color-tangaroa;

  @include vp-767 {
    padding: 0 11px 0 0;
  }
}

.advantages__list li {
  background-color: $color-alice-blue;
  padding: 30px 30px 46px;

  @include vp-1023 {
    padding: 26px 10px 19px 20px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.advantages__list img {
  margin-bottom: 18px;

  @include vp-1023 {
    width: 34px;
  }
}
