.btn {
  padding: 9px 20px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  font-family: $ff-montserrat;
  text-align: center;
  overflow-wrap: anywhere;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: none;
  border-radius: 0;
  cursor: pointer;
  user-select: none;

  @include default-interactive;
}
