.feedback {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #acd5fa;

  @include adaptive-bg("background-feedback-desktop");

  @include vp-1023 {
    @include adaptive-bg("background-feedback-tablet");
  }

  @include vp-767 {
    @include adaptive-bg("background-feedback-mobile");
    background-position: inherit;
  }
}

.feedback__text-title {
  margin: 0 0 8px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: $ff-montserrat;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 34px;
    line-height: 51px;
    margin: 0 0 5px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 14px;
  }
}

.feedback__text-subtitle {
  margin: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: $ff-montserrat;
  color: $color-tangaroa;

  @include vp-1023 {
    margin: 0 auto 52px;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 34px;
  }
}

.feedback-container {
  display: flex;
  padding: 50px 105px;
  justify-content: space-between;

  @include vp-1023 {
    display: block;
    padding: 88px 45px 100px;
  }

  @include vp-767 {
    padding: 59px 15px 65px;
  }
}

.feedback__text {
  padding: 163px 0 0;

  @include vp-1023 {
    text-align: center;
    padding: 0;
  }
}

.feedback__form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 27px 0 0;

  @include vp-767 {
    padding: 29px 0 0;
  }

  &--bottom {
    padding: 0;

    @include vp-767 {
      padding: 0;
    }
  }
}

.feedback fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__form {
  padding: 44px 50px 50px;
  max-width: 403px;
  background-color: $color-tangaroa;

  @include vp-1023 {
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 34px 30px 40px;
  }
}

.feedback__form-description {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  font-family: $ff-montserrat;
  line-height: 27px;
  color: $color-alice-blue;

  @include vp-767 {
    text-align: center;
    line-height: 25px;
  }
}

.feedback__form-group span {
  font-family: $ff-montserrat;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
  padding-left: 6px;

  @include vp-767 {
    padding: 0 50px 0 8px;
    line-height: 12px;
  }
}

.feedback input:not([type="checkbox"]) {
  padding: 10px 2px 12px 16px;
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  border: none;
  margin: 0 0 20px;
  color: rgba(1, 28, 64, 0.7);
  background-color: $color-alice-blue;
}

.feedback input[type="checkbox"] {
  flex-shrink: 0;
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;

  @include vp-767 {
    width: 20px;
    height: 20px;
  }

  &:checked {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 3px;
      width: 11px;
      height: 10px;
      mask-image: url("/img/sprite/arrow.svg");
      mask-repeat: no-repeat;
      background-color: #101a56;
    }
  }
}

.feedback input {
  &:focus-visible {
    outline: 2px solid $color-alice-blue;
  }
}

.feedback button {
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: $color-alice-blue;
  padding: 11px 15px;
  border: none;
}

.feedback__form-group--bottom label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 26px;
    align-items: flex-start;
  }
}
