.footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.footer__container {
  display: flex;
  padding: 50px 41px 32px 45px;

  @include vp-1023 {
    padding: 48px 36px 41px 45px;
  }

  @include vp-767 {
    padding: 38px 15px 32px;
    flex-direction: column;
  }
}

.footer__logo {
  fill: $color-alice-blue;
  margin: 0;

  @include vp-1023 {
    padding-top: 2px;
    width: 38px;
    height: 23px;
  }
}

.footer__nav {
  margin: 0 0 0 8px;

  @include vp-767 {
    display: block;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin: -3px 0 0 auto;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    margin: 0 0 0 auto;
  }

  @include vp-767 {
    margin: 0 0 0 -5px;
  }
}

.footer__social-link {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  mask-repeat: no-repeat;
  mask-size: cover;

  &:focus-visible {
    outline: 2px solid $color-alice-blue;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $color-alice-blue;

    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }

  &--ok {
    &::before {
      left: 7px;
      mask-image: url("../img/sprite.svg#icon-ok");
    }
  }

  &--dzen {
    &::before {
      left: 4px;
      mask-image: url("../img/sprite.svg#icon-dzen");
    }
  }

  &--reddit {
    &::before {
      left: 5px;
      mask-image: url("../img/sprite.svg#icon-reddit");
    }
  }
}

.footer__social-list-item {
  margin-left: 16px;

  @include vp-1023 {
    margin-left: 8px;
  }

  @include vp-767 {
    margin: 0 13px 0 -5px;
  }
}
