.header {
  color: $color-alice-blue;
}

.header__container {
  display: flex;
  padding: 33px 45px;

  @include vp-1023 {
    padding: 29px 45px;
  }

  @include vp-767 {
    padding: 20px 15px;
  }
}

.header__logo {
  flex-shrink: 0;
  fill: $color-alice-blue;

  @include vp-1023 {
    margin-right: 114px;
    height: 20px;
    width: 38px;
  }

  @include vp-767 {
    height: 25px;
    width: 42px;
  }
}

.header__button {
  display: none;

  @include vp-767 {
    display: block;
    margin: 4px 0 0 auto;
    position: relative;
    border: none;
    width: 24px;
    height: 16px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 14px;
      background-color: $color-alice-blue;
      mask-image: url("../img/sprite/icon-burger.svg");
      mask-repeat: no-repeat;
    }
  }
}

.header.is-active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 89%;
  overflow-y: scroll;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  box-shadow: -10em 0 0 rgb(0 43 102 / 50%);

  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header__list {
    padding: 31px 0 0 6px;
    flex-direction: column;
  }

  .header__list-item {
    padding: 10px 3px;
    margin: 0 0 6px 0;
  }

  .header__nav {
    display: block;
    grid-column: 1/3;
    // box-shadow: -10em 0 0 rgb(0 43 102 / 50%);
  }

  .header__logo {
    grid-column: 1/2;
    z-index: 2;
    fill: currentColor;
    margin: -1px 0 0 0;
  }

  .header__button {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/2;

    @include vp-767 {
      &::before {
        top: 0;
        left: 10px;
        width: 26px;
        height: 17px;
        background-color: $color-tangaroa;
        mask-image: url("../img/sprite/icon-close.svg");
        mask-repeat: no-repeat;
      }
    }
  }
}

.header.no-js {
  .header__button {
    display: none;
  }

  @include vp-767 {
    background-color: $color-alice-blue;

    .header__container {
      flex-direction: column;
    }

    .header__nav {
      display: block;
      color: $color-tangaroa;
    }

    .header__logo {
      margin-bottom: 30px;
      fill: $color-tangaroa;
    }

    .header__list {
      flex-direction: column;
    }

    .header__list-item {
      margin: 0;
    }
  }
}
