.header-top {
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include adaptive-bg("background-desktop");

  @include vp-1023 {
    @include adaptive-bg("background-tablet");
  }
}
