.offer h2 {
  text-align: center;
  margin: 0 0 50px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px;
  }
}

.offer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 0;
  padding: 0 15px;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    display: block;
    padding: 0 10px;
  }
}

.offer__container {
  padding: 85px 45px 119px;

  @include vp-1023 {
    padding: 89px 45px 100px;
  }

  @include vp-767 {
    padding: 57px 15px 35px;
  }
}

.offer li {
  display: flex;
  flex-direction: column;
  height: 386px;
  position: relative;
  padding: 29px 25px 14px;
  background-color: $color-tangaroa;

  &:focus {
    outline: 2px solid $color-tangaroa;
    outline-offset: 3px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 168px;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 0, #011c40 100%);
    z-index: 1;
  }

  @include vp-1023 {
    padding: 29px 35px 14px;
  }

  @include vp-767 {
    padding: 29px 25px 14px;
    margin-bottom: 30px;
  }

  &:hover,
  &:focus-within {
    overflow-y: auto;

    h3 {
      margin: 0 0 12px;
    }

    .offer__content {
      display: block;
      z-index: 1;
    }

    img {
      display: none;
    }
  }
}

.offer h3 {
  position: relative;
  margin: auto 0 9px 5px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  z-index: 1;

  @include vp-1023 {
    margin: auto 0 13px 0;
  }

  @include vp-767 {
    margin: auto 0 3px 0;
  }
}

.offer h4 {
  margin: 0 0 1px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
}

.offer p {
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 20px;
  color: $color-alice-blue;
}

.offer a {
  display: block;
  margin-top: 25px;
  text-align: center;
  background-color: $color-alice-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;

  &:focus-visible {
    outline: 2px solid $color-alice-blue;
  }
}

.offer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer__content {
  display: none;
}
