.offer h2 {
  text-align: center;
  margin: 0 0 49px;
  font-size: 28px;
  font-family: $ff-montserrat;
  line-height: 42px;
  font-weight: 600;
  color: $color-tangaroa;
}

.offer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
