.offer h2 {
  text-align: center;
  margin: 0 0 50px;
  font-size: 28px;
  font-family: $ff-montserrat;
  line-height: 42px;
  font-weight: 600;
  color: $color-tangaroa;
}

.offer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
}

.offer-container {
  padding: 85px 45px 0;
}

.offer li {
  height: 386px;
  position: relative;
  padding: 29px 25px 14px;
  background-color: $color-tangaroa;
}

.offer h3 {
  margin: 0 0 12px;
  font-size: 18px;
  font-family: $ff-montserrat;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
}

.offer h4 {
  margin: 0 0 1px;
  font-size: 14px;
  font-family: $ff-montserrat;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
}

.offer p {
  margin: 0 0 11px;
  font-size: 14px;
  font-family: $ff-montserrat;
  line-height: 20px;
  color: $color-alice-blue;
}

.offer a {
  display: block;
  margin-top: 25px;
  text-align: center;
  background-color: $color-alice-blue;
  font-family: $ff-montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;

  &:hover {
    transition: all 1s ease-out;
    background-color: #2772b8;
  }
}

.offer picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
