.promo h1 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  font-family: $ff-montserrat;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 50px;
    line-height: 60px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin: 0 0 11px;
  }
}

.promo p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-family: $ff-montserrat;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 18px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    padding-right: 35px;
  }
}

.promo-container {
  padding: 160px 50px 278px 141px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
    width: 100%;
    height: 168px;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
    z-index: 1;
  }

  @include vp-1023 {
    &::before {
      content: none;
    }

    padding: 187px 50px 277px 45px;
  }

  @include vp-767 {
    padding: 111px 40px 179px 15px;
  }
}
