.promo h1 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  font-family: $ff-montserrat;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 50px;
    line-height: 60px;
  }
}

.promo p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-family: $ff-montserrat;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 18px;
    line-height: 20px;
  }
}

.promo-container {
  padding: 167px 50px 278px 141px;

  @include vp-1023 {
    padding: 187px 50px 277px 45px;
  }
}
