<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Antarctic</title>
		<link rel="preload" href="fonts/montserrat-400.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="fonts/montserrat-500.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="fonts/montserrat-600.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="fonts/montserrat-700.woff2" as="font" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.min.css{{ version }}">
	</head>

	<body>
		<div class="page">
			{% block header %}
				<div class="header-top">
					<header class="header no-js" data-header>
						<div class="header__container container">
							<a {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }} class="header__logo logo-link" aria-label="Переход на главную страницу">
								<svg class="header__logo logo-link" width="70" height="38" viewbox="0 0 70 38" focusable="false">
									<use xlink:href="img/logo.svg#logo"></use>
								</svg>
							</a>
							<nav class="nav header__nav">
								<ul class="nav__list header__list">
									<li class="nav__list-item  header__list-item">
										<a href="#advantages" class="nav__link">Преимущества</a>
									</li>
									<li class="nav__list-item header__list-item">
										<a href="#feedback" class="nav__link">Направления</a>
									</li>
									<li class="nav__list-item header__list-item">
										<a href="#offer" class="nav__link">Ближайшие круизы</a>
									</li>
									<li class="nav__list-item header__list-item">
										<a href="#contacts" class="nav__link">Контакты</a>
									</li>
								</ul>
							</nav>
							<button class="header__button" type="button" aria-label="Кнопка для открытия меню" data-button aria-expanded="false"></button>
						</div>
					</header>
					<section class="promo">
						<div class="promo__container container">
							<h1>
								Круизы в Антарктику
							</h1>
							<p>Волшебный мир айсбергов и пингвинов</p>
						</div>
					</section>
				</div>
			{% endblock %}

			<main>
				{% block main %}{% endblock %}
			</main>

			{% block footer %}
				<footer class="footer">
					<div class="footer__container container">
						<a {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }} class="footer__logo-link" aria-label="Переход на главную страницу">
							<svg class="footer__logo" width="70" height="38" viewbox="0 0 70 38" focusable="false">
								<use xlink:href="img/logo.svg#logo"></use>
							</svg>
						</a>
						<nav class="nav nav--footer footer__nav">
							<ul class="nav__list footer__nav-list">
								<li class="nav__list-item">
									<a href="#" class="nav__link">Преимущества</a>
								</li>
								<li class="nav__list-item">
									<a href="#" class="nav__link">Направления</a>
								</li>
								<li class="nav__list-item">
									<a href="#" class="nav__link">Ближайшие круизы</a>
								</li>
								<li class="nav__list-item">
									<a href="#" class="nav__link">Контакты</a>
								</li>
							</ul>
						</nav>
						<ul class="footer__social-list">
							<li class="footer__social-list-item">
								<a class="footer__social-link footer__social-link--ok" href="https://ok.ru/" aria-label="Социальная сеть Одноклассники"></a>
							</li>
							<li class="footer__social-list-item">
								<a class="footer__social-link footer__social-link--dzen" href="https://dzen.ru/" aria-label="Социальная сеть Яндекс Дзен"></a>
							</li>
							<li class="footer__social-list-item">
								<a class="footer__social-link footer__social-link--reddit" href="https://www.reddit.com/" aria-label="Социальная сеть Reddit"></a>
							</li>
						</ul>
					</div>
				</footer>
			{% endblock %}
		</div>

		{% include 'modules/scripts.twig' %}
	</body>
</html>
