@mixin ff-montserrat($font-weight) {
  $url: "../fonts/montserrat-#{$font-weight}";

  @font-face {
    font-style: normal;
    font-weight: $font-weight;
    font-family: "Montserrat";
    font-display: swap;
    src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
  }
}

@include ff-montserrat(400);
@include ff-montserrat(500);
@include ff-montserrat(600);
@include ff-montserrat(700);
